body{
    padding: 0;
    margin: 0;
}

.navbar-brand{
    letter-spacing: 3px;
}

.navbar-collapse{
    justify-content: right;
}

.card-box{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.prediction-box{
    margin: 20px 10px 10px 10px;
}
.prediction-box > div{
    max-width: 84vw!important;
    word-wrap: break-word!important;
}

.conatiner, .container-fluid{
    padding-right: 12px!important;
    padding-left: 12px!important;
}

.cbi{
    display: flex;
}
.cb1{
    width: 30%;
}
.cb2{
    width: 70%;
}
.cb11{
    margin-top: 10px;
}

.ex{
    display: flex!important;
    margin-top: 10px;
}
.ex > div{
    margin-right: 15px;
    margin-left: 15px;
}

.ex1{
    width: 20%;
}
.ex2{
    width: 80%;
}

.cblock2{
    margin-top: 10px;
}

.h5{
    font-size: large;
    font-weight: bold;
}

.footer{
    position: relative;
    bottom: 0;
    width: 100%;
    font-family: 'Barlow', sans-serif;
    margin: 30px 0 15px 0;
    color: #1d1d1d;
    opacity: 0.5;
}
.footer > div{
    display: flex;
    justify-content: center;
}
.footer #links > div{
    margin: 0 .3em;
}
.footer #github{
    color: #24292e;
}
.footer #linkedin{
    color: #0a66c2;
}


.alert{
    margin-bottom: 0;
}

.spinner-border-sm{
    margin-bottom: 2px;
}
.toast{
    opacity: 1!important;
}
#spinr{
    display: none;
}